form {
    .field {
        margin-bottom: $s;

        label {
            display: block;         
            margin-bottom: $xs;
            color: $coral;
        }
        input[type="text"],
        textarea {
            transition: .3s;
            width: 100%;
            background: $grey-light;
            border: 2px solid $grey-light;
            border-radius: none;
            padding: $s;
            outline: none;

            &:focus {
                background: none;
            }
        }

    }
}